@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family: 'Roboto';
    src: url('../public/assets/fonts/Roboto-Bold.ttf');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('../public/assets/fonts/Roboto-Regular.ttf');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

ul{
  /*list-style-image: url("../public/assets/images/icon-list.svg");
  margin-inline-start: 2rem;
  text-align: center;*/
  list-style-position: inside;
}

li {
  color: #242742;
  margin: 0;
  padding-inline-start: 30px;
  list-style: none;
  background-image: url("../public/assets/images/icon-list.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
}

/*li {
  color: #242742;
  margin: 0;
  padding: 0 0 5px 30px;
  list-style: none;
  background-image: url("../public/assets/images/icon-list.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 20px;
}*/
/*ul{
  list-style-image: url("../public/assets/images/icon-list.svg");
  /*margin-inline-start: 2rem;
  text-align: center;
  list-style-position: inside;
}

li{
  border: 1px solid #033;
}*/